//import fonts
@import "./fonts/bosca/stylesheet.scss";
@import "./fonts/sf_pro/stylesheet.scss";
//import base
@import "./base/style.scss";
//import components
@import "./components/style.scss";
//import layouts
// @import "./layouts/style.scss";

body {
  font-family: "Bosca", monospace;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
