//import fonts
@import "./fonts/inter/stylesheet.css";
//import base
@import "./base/style.scss";
//import components
@import "./components/style.scss";
//import layouts
// @import "./layouts/style.scss";

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
