.footer {
  padding: 30px 0 30px 0;

  border-top: 1px solid #333;
  box-shadow: 52px 0px 400px -49px rgba(51,51,51,1);
-webkit-box-shadow: 52px 0px 400px -49px rgba(51,51,51,1);
-moz-box-shadow: 52px 0px 400px -49px rgba(51,51,51,1);
}

.footer__inner {
  display: flex;
  align-items: baseline;
}

.footer__links {
  margin-right: 70px;
}

.footer__links-title {
  font-size: 14px;
  // font-weight: 600;
  font-weight: 500;
  color: aliceblue;
}

.footer__link {
  font-size: 14px;
  // font-weight: 500;
  font-weight: 400;
  line-height: 20px;
  color: #888;

  &:hover {
    transition: all 0.3s ease;
    color: white;
  }
}

.footer__items:not(:last-child) {
  display: block;
  margin-bottom: 8px;
}

.footer__copyright {
  margin-left: auto;

  // font-weight: 500;
  font-weight: 400;
  color: #bebebe;
}

// MEDIA
@media only screen and (max-width: 555px) {
  .footer__inner {
    flex-direction: column;
  }

  .footer__links {
    margin-bottom: 14px;
  }
}
