// HOMEPAGE
.home {
  margin-top: 40px;
  margin-bottom: 40px;
}

.home__inner {
  display: flex;
}

.home__innerLeft {
  width: 100%;
  max-width: 245px;
}

.home__pic {
  display: flex;
  margin: 0 auto;

  border-radius: 50%;

  &:hover {
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.6);
  }
}

.home__title {
  margin: 0;
  margin-top: 15px;

  font-weight: 600;
  font-size: 26px;
  color: #fff;
}

.home__job {
  margin: 0;

  font-size: 14px;
  color: #777676;
}

.home__menuIcon {
  display: none;
  cursor: pointer;
}

.home__links {
  margin-top: 30px;
  margin-bottom: 30px;
}

.home__profileLinks {
  display: flex;
  flex-wrap: wrap;

  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;

    margin-right: 10px;
    margin-bottom: 10px;
    padding: 3px;

    border-radius: 50%;
    transition: all 0.1s ease;
    &:hover {
      background-color: #777676;
    }
  }
}

.home__componentPagesItem {
  display: block;
  padding: 8px;
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;

  color: #bebebe;
  border: 1px solid transparent;
  transition: all 0.1s ease;

  &:hover {
    border: 1px solid #777676;
    color: #fff;
  }
}

.active-link {
  font-size: 16px;

  color: white;
}

// RIGHT BAR
.home__innerRight {
  margin-left: 50px;
  padding: 20px;

  background-color: white;
}

// MEDIA QUERY - RESPONSIVENESS
@media only screen and (max-width: 1131px) {
  .home__inner {
    display: block;
  }

  .home__innerLeft {
    margin: 0 auto;
  }

  .home__componentPages {
    display: flex;
    justify-content: center;
  }

  .home__innerRight {
    margin-left: 0;
  }
}

@media only screen and (max-width: 650px) {
  .home {
    margin-top: 20px;
  }

  .home__innerLeft {
    max-width: 100%;
    margin: 0;
  }

  .home__pic {
    width: 100px;
    height: 100px;
  }

  .home__title {
    font-size: 17px;
  }

  .home__job {
    font-size: 13px;
  }

  .home__menuIcon {
    display: block;
  }

  .home__menuIconWrapper {
    margin-left: auto;
  }

  .home__links {
    display: none;
  }

  .home__componentPages {
    display: block;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100%;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: left 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }

  .home__componentPages.active {
    left: 0;
    transition: left 0.2s ease;
  }

  .active {
    visibility: visible;
  }

  .home__componentPagesItem {
    margin-top: 25px;

    color: #000;

    &:focus {
      color: #000;
    }
  }

  .home__flexWrapper {
    margin-left: 10px;
  }

  .home__flexs {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
}
