// profileSection
.profileSection {
  padding: 14px;
}

.profileSection__wrapper {
  margin-top: 20px;
}

.profileSection__list {
  width: 100%;
  max-width: 710px;
}

.profileSection__item {
  display: flex;
  align-items: center;
  padding-bottom: 40px;

  border-bottom: 1px solid #bebebe;
}

.profileSection__place {
  margin: 0;

  font-size: 14px;
  font-weight: 600;

  color: #1a1a1a;
}

.profileSection__item:nth-child(2) {
  margin-top: 40px;
  margin-bottom: 40px;
}

// .profileSection__item:last-child {
//   border-bottom: none;
// }

.profileSection__pic {
  margin-bottom: auto;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.7s ease-in-out;

  &:hover {
    transform: rotate(360deg);
  }
}

.profileSection__itemCover {
  padding-left: 25px;
}

.profileSection__itemCoverDate {
  margin: 0;
  margin-top: 5px;

  font-size: 11px;
  color: #777676;
}

.profileSection__itemCoverWebsite {
  color: #9e9e9e;
  font-size: 11px;

  &:hover {
    color: #1a1a1a;
  }
}

.profileSection__itemCoverSummary {
  margin: 0;
  margin-top: 5px;

  font-weight: 500;
  font-size: 13.5px;
  line-height: 20px;
}

.profileSection__skillsHeader {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;

  font-size: 12px;
  font-weight: 600;
  color: #1a1a1a;
}

.profileSection__skillsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.profileSection__skillsItem {
  display: flex;
  align-items: center;

  margin-bottom: 10px;

  font-weight: 500;
  font-size: 13.5px;
}

.profileSection__checkIcon {
  margin-right: 5px;
}

// MEDIA QUERY - RESPONSIVENESS
@media only screen and (max-width: 1073px) {
  .profileSection__wrapper {
    margin-top: 20px;
  }

  .profileSection__list {
    width: 100%;
    max-width: 600px;
  }
}

@media only screen and (max-width: 768px) {
  .profileSection__item {
    display: block;
    text-align: center;
  }

  .profileSection__place {
    font-size: 17px;
  }

  .profileSection__pic {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
  }

  .profileSection__itemCoverSummary {
    text-align: left;
  }

  .profileSection__skillsList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 400px) {
  .profileSection__skillsList {
    grid-template-columns: repeat(1, 1fr);
  }
}
