:where(.css-dev-only-do-not-override-1vr7spz).ant-popover .ant-popover-inner {
  background-color: #ffffff;
  background-clip: padding-box;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  padding: 12px;
  width: 70%;
}

.requestCode {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
